<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Loan Calculator</title>
</head>
<body>
    
    <form id="resourcesForm">
        <div class="input-field">
            <label for="item">Item: </label>
            <input type="text" id="item" name="item">    
        </div>

        <div class="input-field">
            <label for="features">Key features (Be concise): </label>
            <input type="text", id="features" name="features">
            <button type="button" onclick="search()">Search</button>
        </div>

        <div id="result"></div>
    </form>
    
    <script>
        async function search() {
            const form = document.getElementById('resourcesForm');
            const formData = new FormData(form);
            const data = {
                item: formData.get('item'), 
                features: formData.get('features')
            };
            console.log(data['item']);
            console.log(data['features']);
            const response = await fetch('/search.html', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }, 
                body: JSON.stringify(data)
            });

            const result = await response.json();
            const resultDiv = document.getElementById('result');     
            
            if (response.ok) {
                resultDiv.innerHTML = `<p>Item Name: $${result.itemName}</p>
                                       <p>Link: $${result.itemLink}</p>`;
            } else {
                resultDiv.innerHTML = `<p>Error: ${result.error}</p>`;
            }
        }
    </script>
</body>
</html>
