body {
    background-color: #56a0d3;
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #2c3e50;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    font-family: 'Lilita One', Static;
}


.header h1, .header h2 {
    color: #ffffff; 
    font-family: 'Lilita One', Static;
    font-size: 60px;
}



.main-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 100%;
    margin-top: 0;
}

.sidebar {
    width: 35%;
    background-color: #f4f7f6;
    border-radius: 1.5em;
    padding: 20px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    height: 90%;
    overflow-y: auto;
}

.sidebar h1 {
    color: #4295ce;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Lilita One', Static;
}

.chat-history {
    list-style-type: none;
    padding: 0;
    flex: 1;
    overflow-y: auto;
}

.chat-history li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(69, 112, 139, 0.1);
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    background: rgba(69, 112, 139, 0.1);
}

.chatbox {
    display: flex;
    flex-direction: column;
    flex: 1; 
    border: 1px solid #ddd;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    height: 90%;
    font-family: 'Gill Sans', sans-serif;
    
}

.chat-content {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
    font-family: 'Gill Sans', sans-serif;
}

.chat-input {
    display: flex; 
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    font-family: 'Gill Sans', sans-serif;
}

textarea {
    flex: 1;
    padding: 10px;
    border: 2px solid rgba(69, 112, 139, 0.1);
    border-radius: 20px;
    resize: none;
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;
    background: rgba(69, 112, 139, 0.04);
}

.btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4295ce;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.btn:hover {
    background-color: #153850
}

.sidebar .btn {
    display: inline-block; /* Allows padding and margins to apply */
    padding: 10px 15px; /* Button padding */
    background-color: #4295ce; /* Bootstrap primary color */
    color: white; /* Text color */
    text-align: center; /* Center text */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    margin-top: 10px; /* Space above the button */
    font-family: 'Gill Sans', sans-serif;
}

.sidebar .btn:hover {
    background-color: #153850; /* Darker Carolina Blue on Hover */
}


.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 1.5em;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    background-color: #2e7aaf;
    color: #fff;
    align-self: flex-end;
}

.bot-message {
    background-color: #e9ecef;
    color: #333;
    align-self: flex-start;
<<<<<<< HEAD
=======
}

.input-field {
    padding: 15px 5px;
>>>>>>> 6836683ab0ed2b95c2bfb4df307763ccc798d900
}